<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <p align="center"><title>Simple Weather</title></p>
    </head>
    <body>

        <div class="container" id="text">
            <p align="center"><h1>SimpleWeather</h1>
           L'app permette di vedere il meteo corrente su una citta scelta<br>
            Il risultato viene salvato su dropbox e couchDB.
            <br><br></p>
            <form method="get" action="/auth">
		<button type="submit">Accedi con Dropbox</button>
	    </form>
        </div>

    </body>
</html>
